@font-face {
  font-family: "TS Block", "wedding-gothic-atf", sans-serif;
  src: url('TSBlock-Bold.woff2') format('woff2'),
      url('TSBlock-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.catamaran{
  font-family: "Catamaran", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*{
    color: #F5F5F5;
    margin: 0px;
    padding: 0px;
    background-color: #0D0D0D;
    overflow-x: hidden;
}




/*--- Nav Styling ---*/

nav{
  position: fixed;
  margin: 30px;
}

nav div{
  display: none;
}

nav div:active{
  display: flex;
}



/*--- Header Styling ---*/

.header{
    margin-top: 30vh;
    color: #F5F5F5;
    position: relative;
    background: none;
    font-family: "TS Block", "wedding-gothic-atf", sans-serif;
    background-color: transparent;
}
.header h1{
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    background-color: transparent;
}
.header h2{
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: transparent;
}

/*--- Phone styles ---*/
@media only screen and (max-width:600px) {
  .header h1{
    font-size: 2em;
  }
  .header h2{
    font-size: 0.7em;
  }
}

/*--- My works styling ---*/
.My-Works-Container{
    background-color: transparent;
    position: relative;
    left: 20%;
    margin-top: 50vh;
    width: 60%;
    height: 100vh;
}

.My-Works{
    position: relative;
    font-family: "TS Block", "wedding-gothic-atf", sans-serif;
    background-color: transparent;
    height: 100px;
}

.My-Works-Title{
    max-width: 541px;
    height: 87px;
    background-color: #0900FF;
    box-shadow:8px 12px #E1E803;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

/*--- Phone Styling ---*/
@media only screen and (width <= 600px){
  .My-Works-Title{
    position: relative;
    font-size: 20px;
    height: 40px;
    box-shadow:6px 6px #E1E803;
    width: 200px;
    left: 30px;
  }
  .My-Works-Container{
    width: 100%;
    left: auto;
  }
  .My-Works{
    height: 80px;
    margin-bottom: -50px;
  }
}

/*--- Slideshow container ---*/
.img-carousel {
    background-color: transparent;
    max-width: 1000px;
    position: relative;
    margin: auto;
    height: 80%;
    overflow: unset;
    margin-top: 30px;
  }
  
  /*--- Hide the images by default ---*/
  .mySlides {
    display: none;
  }
  
  /*--- Next & previous buttons ---*/
  .prev, .next {
    background-color: transparent;
    cursor: pointer;
    padding: 16px;
    color: #F5F5F5;
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s ease;
    user-select: none;
  }
  
  /*--- Position the "next button" to the right ---*/
  .next {
    right: 0;
  }
  
  /*--- On hover, add a black background color with a little bit see-through ---*/
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /*--- Caption text ---*/
  .text {
    display: flex;
    flex-direction: column;
    background-color: #131313;
    font-family: 'Catamaran';
    font-size: 20px;
    line-height: 2em;
    padding: 12px 16px;
    position: relative;
    bottom: 8px;
    text-align: left;
  }
  
  /*--- The dots/bullets/indicators ---*/
  .dot-Container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    background-color: transparent;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #323232;
    border-radius: 50%;
    flex-direction: row;
    transition: background-color 0.2s ease;
  }
  
  .active, .dot:hover {
    background-color: #F5F5F5;
  }

  /*--- Learn more ---*/
  .Learn-More{
    display: flex;
    align-self: flex-end;
    justify-content: center;
    background-color: transparent;
    margin-top: 20px;
    background-color: #0900FF;
    box-shadow: 6px 6px #E1E803;
    width: 225px;
    transition: 0.2s ease;
  }

  .Learn-More a{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "TS Block", "wedding-gothic-atf", sans-serif;
    text-decoration: none;
    padding: 0px 10px;
  }

  .Learn-More:hover{
    width: 260px;
    letter-spacing: 2px;
  }

  .Existing-Now{
    background-color: transparent;
    font-family: "TS Block", "wedding-gothic-atf", sans-serif;
    font-size: 25px;
    margin-bottom: 15px;
  }


/*--- My Specialities Styling ---*/
.My-Specialities-Container{
  background-color: transparent;
  position: relative;
  left: 20%;
  margin-top: 50vh;
  width: 60%;
  height: 100vh;
}

.My-Specialities{
    position: relative;
    font-family: "TS Block", "wedding-gothic-atf", sans-serif;
    background-color: transparent;
    height: 100px;
}

.My-Specialities-Title{
  width: 835px;
  height: 87px;
  background-color: #0900FF;
  box-shadow:8px 12px #E1E803;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}

/*--- Phone Styling ---*/

@media only screen and (width <= 600px){
  .My-Specialities-Title{
    position: relative;
    font-size: 20px;
    height: 40px;
    box-shadow:6px 6px #E1E803;
    width: 260px;
    left: 30px;
  }
  .My-Specialities-Container{
    width: 100%;
    left: auto;
  }
  .My-Specialities{
    height: 80px;
  }

}

.footer{
  padding: 20px;
  background-color: #F5F5F5;
  font-size: 25px;
  font-family: "TS Block", "wedding-gothic-atf", sans-serif;
}

.footer p{
  display: flex;
  font-weight: 700;
  background-color: #F5F5F5;
  color: #0D0D0D;
  justify-content: center;
  align-items: center;
  font-family: 'catamaran';
}

.footer .contact{
  font-family: "TS Block", "wedding-gothic-atf", sans-serif;
  font-size: 40px;
  padding-bottom: 40px;
}
.footer p img{
  padding-right:15px ;
  padding-bottom: 10px;
}

/*--- Phone Styling ---*/

@media only screen and (width <= 600px){
  .footer{
    padding: 10px;
    background-color: #F5F5F5;
    font-size: 1em;
    font-family: "TS Block", "wedding-gothic-atf", sans-serif;
  }
  
  .footer .contact{
    font-family: "TS Block", "wedding-gothic-atf", sans-serif;
    font-size: 1em;
    padding-bottom: 20px;
  }

  .footer p img{
    width: 6%;
    padding-right:7px ;
    padding-bottom: 4px;
  }

}